@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: rgb(41, 11, 51);
  background: linear-gradient(
    90deg,
    rgba(41, 11, 51, 1) 0%,
    rgba(93, 27, 117, 1) 37%,
    rgba(144, 79, 167, 1) 81%
  );
  padding: 3em;
}
